
@{
    ViewBag.Title = "Line";
}

<div class="container pt-5">
    <div class="row">

        <!-- Video Section -->
        <div class="position-relative" style="overflow: hidden;">
            <video autoplay muted loop class="video-fluid" style="width: 100%; height: auto;">
                <source src="~/Recursos/Multimedia/Colecciones/summer.mp4" type="video/mp4">
            </video>
        </div>

        <!-- Image Gallery Section -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <img src="~/Recursos/Img/Colecciones/Summer/s01.jpg" class="img-fluid" alt="Summer Image 1">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="~/Recursos/Img/Colecciones/Summer/s02.jpg" class="img-fluid" alt="Summer Image 2">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="~/Recursos/Img/Colecciones/Summer/s03.jpg" class="img-fluid" alt="Summer Image 3">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="~/Recursos/Img/Colecciones/Summer/s04.jpg" class="img-fluid" alt="Summer Image 4">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="~/Recursos/Img/Colecciones/Summer/s08.jpg" class="img-fluid" alt="Summer Image 4">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="~/Recursos/Img/Colecciones/Summer/s05.jpg" class="img-fluid" alt="Summer Image 4">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="~/Recursos/Img/Colecciones/Summer/s07.jpg" class="img-fluid" alt="Summer Image 4">
                </div>
                <div class="col-md-6 mb-3">
                    <img src="~/Recursos/Img/Colecciones/Summer/s06.jpg" class="img-fluid" alt="Summer Image 4">
                </div>

            </div>
        </div>


    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
