@{
    ViewBag.Title = "Home Page";
}

@*Slider*@
<div class="container-fluid p-0 ">
    <div class="position-relative">
        <video autoplay muted loop class="video-fluid" style="width: 100%;">
            <source src="~/Recursos/Multimedia/merymodel.mp4" type="video/mp4">
        </video>

        <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
            <h1>Merry Model</h1>
            <p class="lead">Descubre tu esencia y estilo en cada prenda</p>
        </div>

        <div class="social-icons position-absolute top-50 end-0 translate-middle-y me-5">
            <ul class="list-unstyled">
                <li class="mb-2"><a href="#" class="text-white fa-2x"><i class="fab fa-facebook"></i></a></li>
                <li class="mb-2"><a href="#" class="text-white fa-2x"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="text-white fa-2x"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>

    </div>
</div>

@*CONTENIDO*@

<!--NOSOTROS-->

<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--COLECCIONES-->
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="d-inline">Nuestras Colecciones</h2>
                <button class="btn btn-dark float-right">Explorar todo</button>
            </div>
            <hr>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card border-0">

                <img src="~/Recursos/Img/Colecciones/coleccion01.jpg" alt="...">

                <div class="overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">
                    <h1 class="text-center" style="font-weight: bold">SUMMER TOP STYLE</h1>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0">

                <img src="~/Recursos/Img/Colecciones/coleccion02.jpg" alt="...">

                <div class="overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">
                    <h1 class="text-center" style="font-weight: bold">SCAPE ALL GIVE</h1>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0">

                <img src="~/Recursos/Img/Colecciones/coleccion03.jpg" alt="...">

                <div class="overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">
                    <h1 class="text-center" style="font-weight: bold">LINE AT SOUR</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<!--CATALOGO-->
<div class="container">
    <br /><br />
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="d-inline">Nuestro Catologo</h2>
                <button class="btn btn-dark float-right">Explorar todo</button>
            </div>
            <hr>
            <br>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <img src="https://i.pinimg.com/564x/d5/e9/9b/d5e99b19563de43c3ff23392e9afb252.jpg" class="card-img-top img-fluid" style="height: 500px; object-fit: cover;" alt="Imagen de prenda 1">
                <div class="card-body">
                    <h5 class="card-title">Camisa de vestir</h5>
                    <p class="card-text">Camisa de vestir de alta calidad, ideal para ocasiones formales.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">$49.99</span>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <img src="https://i.pinimg.com/564x/11/ce/b0/11ceb0fb0c340bc3c0a088893dc3570a.jpg" class="card-img-top img-fluid" style="height: 500px; object-fit: cover;" alt="Imagen de prenda 2">
                <div class="card-body">
                    <h5 class="card-title">Vestido de verano</h5>
                    <p class="card-text">Vestido ligero y fresco, perfecto para los días calurosos de verano.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">$29.99</span>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <img src="https://i.pinimg.com/564x/21/4d/54/214d542c316427a6d1161c12bbec2877.jpg" class="card-img-top img-fluid" style="height: 500px; object-fit: cover;" alt="Imagen de prenda 3">
                <div class="card-body">
                    <h5 class="card-title">Pantalón de mezclilla</h5>
                    <p class="card-text">Pantalón de mezclilla de corte clásico, versátil y duradero.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">$39.99</span>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <img src="https://i.pinimg.com/564x/e9/0d/69/e90d693b3678978b54ea9ece23354da5.jpg" class="card-img-top img-fluid" style="height: 500px; object-fit: cover;" alt="Imagen de prenda 1">
                <div class="card-body">
                    <h5 class="card-title">Camisa de vestir</h5>
                    <p class="card-text">Camisa de vestir de alta calidad, ideal para ocasiones formales.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">$49.99</span>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <img src="https://i.pinimg.com/736x/5b/0f/3c/5b0f3c30f69d3a870d3f41c3f5a8a494.jpg" class="card-img-top img-fluid" style="height: 500px; object-fit: cover;" alt="Imagen de prenda 2">
                <div class="card-body">
                    <h5 class="card-title">Vestido de verano</h5>
                    <p class="card-text">Vestido ligero y fresco, perfecto para los días calurosos de verano.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">$29.99</span>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <img src="https://i.pinimg.com/564x/a8/51/ca/a851caf5178517061e2f14e20d0002ba.jpg" class="card-img-top img-fluid" style="height: 500px; object-fit: cover;" alt="Imagen de prenda 3">
                <div class="card-body">
                    <h5 class="card-title">Pantalón de mezclilla</h5>
                    <p class="card-text">Pantalón de mezclilla de corte clásico, versátil y duradero.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">$39.99</span>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <img src="https://i.pinimg.com/564x/2c/54/a2/2c54a2fca18d54d9241990ce6262f448.jpg" class="card-img-top img-fluid" style="height: 500px; object-fit: cover;" alt="Imagen de prenda 1">
                <div class="card-body">
                    <h5 class="card-title">Camisa de vestir</h5>
                    <p class="card-text">Camisa de vestir de alta calidad, ideal para ocasiones formales.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">$49.99</span>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <img src="https://i.pinimg.com/564x/99/53/de/9953dee47f9214cf7bc313dafb00cd04.jpg" class="card-img-top img-fluid" style="height: 500px; object-fit: cover;" alt="Imagen de prenda 2">
                <div class="card-body">
                    <h5 class="card-title">Vestido de verano</h5>
                    <p class="card-text">Vestido ligero y fresco, perfecto para los días calurosos de verano.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">$29.99</span>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card h-100 mb-4 shadow-sm">
                <img src="https://i.pinimg.com/564x/8e/42/88/8e42885609f0179cc88137bf54c43897.jpg" class="card-img-top img-fluid" style="height: 500px; object-fit: cover;" alt="Imagen de prenda 3">
                <div class="card-body">
                    <h5 class="card-title">Pantalón de mezclilla</h5>
                    <p class="card-text">Pantalón de mezclilla de corte clásico, versátil y duradero.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">$39.99</span>
                        <a href="#" class="btn btn-sm btn-outline-secondary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--PUBLICIDAD-->

<div class="container p-5">
    <div class="card bg-dark text-white">
        <img src="~/Recursos/Img/Publicidades/publicidad02.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
</div>

<!--NOTICIAS-->

<div class="container mt-5 p-5">

    <div class="row text-center">
        <div class="col-12">
            <h2>¡Mantente conectado!</h2>
            <p>Únete a nuestra comunidad.</p>
        </div>
    </div><br />

    <div class="row">

        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/Recursos/Img/Noticias/Noticia01.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title"><i class="fas fa-heart" style="color: #cb0b3b;"></i> 382 likes</p>
                    <p class="card-text"> <span class="highlight" style="font-weight: bold">Some</span>  quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/Recursos/Img/Noticias/Noticia02.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title"><i class="fas fa-heart" style="color: #cb0b3b;"></i> 159 likes</p>
                    <p class="card-text"> <span class="highlight" style="font-weight: bold">Some</span>  quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/Recursos/Img/Noticias/Noticia03.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title"><i class="fas fa-heart" style="color: #cb0b3b;"></i> 204 likes</p>
                    <p class="card-text"> <span class="highlight" style="font-weight: bold">Some</span>  quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/Recursos/Img/Noticias/Noticia04.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title"><i class="fas fa-heart" style="color: #cb0b3b;"></i> 526 likes</p>
                    <p class="card-text"> <span class="highlight" style="font-weight: bold">Some</span> quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>
</div><br /><br />

<!--.............................................................................................-->

@*<div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>
    </main>*@




