@{
    ViewBag.Title = "Home Page";
}

@*Slider*@

<!--VIDEO-INICIO-->

<div class="container-fluid p-0">
    <div class="position-relative" style="overflow: hidden;">
        <video autoplay muted loop class="video-fluid" style="width: 100%; height: auto;">
            <source src="~/Recursos/Multimedia/merymodel.mp4" type="video/mp4">
        </video>

        <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
            <h1>Merry Model</h1>
            <p class="lead">Descubre tu esencia y estilo en cada prenda</p>
        </div>

        <div class="social-icons position-absolute top-50 end-0 translate-middle-y me-5">
            <ul class="list-unstyled">
                <li class="mb-2"><a href="#" class="text-white fa-2x"><i class="fab fa-facebook"></i></a></li>
                <li class="mb-2"><a href="#" class="text-white fa-2x"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="text-white fa-2x"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>


@*CONTENIDO*@

<!--INFORMACION BASICA

<div class="container-fluid" style="background-color: #FFFDF4; ">
    <div class="row no-gutters p-0 py-5">
        <div class="col-md-3">
            <div class="p-3 rounded text-center">
                <h5>Título 1</h5>
                <p class="small">Texto pequeño debajo del título 1</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 rounded text-center">
                <h5>Título 2</h5>
                <p class="small">Texto pequeño debajo del título 2</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 rounded text-center">
                <h5>Título 3</h5>
                <p class="small">Texto pequeño debajo del título 3</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 rounded text-center">
                <h5>Título 4</h5>
                <p class="small">Texto pequeño debajo del título 4</p>
            </div>
        </div>
    </div>
</div>-->
<!--NOSOTROS-->

<div class="container-fluid pt-5 p-0" id="Nosotros">
    <div class="card mb-3 mx-auto border-0 px-4 pt-5">
        <div class="row g-0 pb-5">
            <div class="col-md-7 p-5">
                <div class="d-flex px-5 pt-4 pb-5">
                    <div class="container pt-5">
                        <img src="~/Recursos/Img/Nosotros/nosotros01.jpg" class="img-fluid w-100 h-100" style="object-fit: cover; transition: all 600ms; transform: translateY(-100px);" alt="Alternate Text" />
                    </div>
                    <div class="container">
                        <img src="~/Recursos/Img/Nosotros/nosotros02.jpg" class="img-fluid w-100 h-100" style="object-fit: cover; transition: all 600ms; transform: translateY(100px);" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body pt-md-5 pt-4" style=" padding-right: 40px;">
                    <h1 class="card-title display-3" style="font-weight: bold;">Merry Model</h1>
                    <p class="card-text pt-3 fs-5">
                        Somos una marca de ropa peruana que fusiona la rica herencia cultural de Perú con la elegancia
                        y sofisticación del estilo francés. Nuestra pasión por la moda nos lleva a crear piezas únicas y atemporales que reflejan calidad
                        y diseño innovador. En Merry Model, creemos que la moda es una forma de expresión personal y nos esforzamos por ofrecer prendas
                        que empoderen a nuestros clientes, haciéndolos sentir seguros y elegantes en cualquier ocasión.
                    </p>
                    <p class="card-text">
                        <small class="text-muted">Mas información </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>






<!--PUBLICIDAD 01-->
<div class="p-0 pt-5">
    <div class="card text-white border-0 position-relative">
        <img src="~/Recursos/Img/Publicidades/publicidad04.jpeg" style="width: 100%;" alt="...">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
            <h1 style="font-size: 3vw;" class="pt-2">Escape´s Collection</h1>
            <p class="lead pt-2" style="font-size: 1.5vw;">Cada prenda cuenta una historia de artesanía y creatividad, de líneas dibujadas y rediseñadas, de límites superados y redefinidos.</p>
            <button class="btn btn-outline-light" style="font-size: 1.5vw;">Leer más</button>
        </div>
    </div>
</div>


<!--COLECCIONES-->
<div class="container mt-5">

    <div class="row text-center pt-2">
        <div class="col-12">
            <h1>Nuestras Colecciones</h1>
            <!--<button class="btn btn-dark float-right">Explorar todo</button>-->
        </div>
        <br />

    </div>
    <div class="row pt-5">
        <div class="col-md-4">
            <div class="card border-0">

                <img src="~/Recursos/Img/Colecciones/coleccion01.jpg" alt="...">

                <div class="overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">
                    <h1 class="text-center" style="font-weight: bold">SUMMER TOP STYLE</h1>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0">

                <img src="~/Recursos/Img/Colecciones/coleccion02.jpg" alt="...">

                <div class="overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">
                    <h1 class="text-center" style="font-weight: bold">SCAPE ALL GIVE</h1>
                </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-0">

                <img src="~/Recursos/Img/Colecciones/coleccion03.jpg" alt="...">

                <div class="overlay" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white;">
                    <h1 class="text-center" style="font-weight: bold">LINE AT SOUR</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<!--CATALOGO-->
<div class="container pt-5">
    <div class="row pt-3">
        <div class="col">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="d-inline">Nuestro Catálogo</h1>
                <button class="btn btn-dark float-right">Explorar todo</button>
            </div>
            <hr>
            <br>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 border-0 position-relative">
                        <img src="~/Recursos/Img/Catalogo/001.jpg" alt="...">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title mb-1">
                                MINI DRESS
                                <a href="#" class="text-black" data-bs-toggle="modal" data-bs-target="#productModal1">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </h5>
                            <p class="card-text mb-0">Precio: $310</p>
                        </div>
                        <a class="list-inline-item" href="#"><i class="far fa-heart position-absolute top-0 end-0 text-white p-2"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 border-0 position-relative">
                        <img src="~/Recursos/Img/Catalogo/002.jpg" alt="...">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title mb-1">
                                MINI DRESS
                                <a href="#" class="text-black" data-bs-toggle="modal" data-bs-target="#productModal2">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </h5>
                            <p class="card-text mb-0">Precio: $310</p>
                        </div>
                        <a class="list-inline-item" href="#"><i class="far fa-heart position-absolute top-0 end-0 text-white p-2"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 border-0 position-relative">
                        <img src="~/Recursos/Img/Catalogo/006.jpg" alt="...">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title mb-1">
                                MINI DRESS
                                <a href="#" class="text-black" data-bs-toggle="modal" data-bs-target="#productModal3">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </h5>
                            <p class="card-text mb-0">Precio: $310</p>
                        </div>
                        <a class="list-inline-item" href="#"><i class="far fa-heart position-absolute top-0 end-0 text-white p-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4 border-0 position-relative">
                        <img src="~/Recursos/Img/Catalogo/004.jpg" alt="...">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title mb-1">
                                MINI DRESS
                                <a href="#" class="text-black" data-bs-toggle="modal" data-bs-target="#productModal4">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </h5>
                            <p class="card-text mb-0">Precio: $310</p>
                        </div>
                        <a class="list-inline-item" href="#"><i class="far fa-heart position-absolute top-0 end-0 text-white p-2"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 border-0 position-relative">
                        <img src="~/Recursos/Img/Catalogo/005.jpg" alt="...">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title mb-1">
                                MINI DRESS
                                <a href="#" class="text-black" data-bs-toggle="modal" data-bs-target="#productModal5">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </h5>
                            <p class="card-text mb-0">Precio: $310</p>
                        </div>
                        <a class="list-inline-item" href="#"><i class="far fa-heart position-absolute top-0 end-0 text-white p-2"></i></a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 border-0 position-relative">
                        <img src="~/Recursos/Img/Catalogo/003.jpg" alt="...">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title mb-1">
                                MINI DRESS
                                <a href="#" class="text-black" data-bs-toggle="modal" data-bs-target="#productModal6">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </h5>
                            <p class="card-text mb-0">Precio: $310</p>
                        </div>
                        <a class="list-inline-item" href="#"><i class="far fa-heart position-absolute top-0 end-0 text-white p-2"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--MODALES-->

<!--LOGIN-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Inicio de Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Aquí va el formulario de inicio de sesión -->
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 01-->
<div class="modal fade" id="productModal1" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-3 border-0" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row pt-3 px-">
                    <div class="col-md-6">
                        <img src="~/Recursos/Img/Catalogo/001.jpg" alt="..." class="img-fluid mb-3">
                    </div>
                    <div class="col-md-6 pt-4">
                        <h5>MINI DRESS</h5>
                        <p>$310</p>
                        <p>El mini vestido de punto perfecto. Ni demasiado ancho ni demasiado estrecho. Fabricado con tres materiales diferentes y en casi todos los tamaños.</p>
                        <div>
                            <h6>Tallas:</h6>
                            <div id="size-buttons" class="d-flex gap-2">
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="XS">XS</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="S">S</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="M">M</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="L">L</button>
                            </div>
                        </div>
                        <div class="w-100 pt-3">
                            <h6>Color:</h6>
                            <div id="color-buttons" class="d-flex gap-2 mb-3">
                                <button type="button" class="btn color-btn border-0" style="background-color: orange; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;" data-color="Red"></button>
                            </div>
                        </div>
                        <div class="mt-3 w-100 pt-3">
                            <button type="button" class="btn btn-dark w-100">Agregar al Carrito</button>
                            <div class="d-flex justify-content-center mt-3">
                                <a href="#"><i class="fab fa-facebook fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-instagram fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-twitter fa-sm text-muted"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 02-->
<div class="modal fade" id="productModal2" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-3 border-0" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row pt-3 px-">
                    <div class="col-md-6">
                        <img src="~/Recursos/Img/Catalogo/002.jpg" alt="..." class="img-fluid mb-3">
                    </div>
                    <div class="col-md-6 pt-4">
                        <h5>MINI DRESS</h5>
                        <p>$310</p>
                        <p>El mini vestido de punto perfecto. Ni demasiado ancho ni demasiado estrecho. Fabricado con tres materiales diferentes y en casi todos los tamaños.</p>
                        <div>
                            <h6>Tallas:</h6>
                            <div id="size-buttons" class="d-flex gap-2">
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="XS">XS</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="S">S</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="M">M</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="L">L</button>
                            </div>
                        </div>
                        <div class="w-100 pt-3">
                            <h6>Color:</h6>
                            <div id="color-buttons" class="d-flex gap-2 mb-3">
                                <button type="button" class="btn color-btn border-0" style="background-color: #ffd800; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;" data-color="Red"></button>
                            </div>
                        </div>
                        <div class="mt-3 w-100 pt-3">
                            <button type="button" class="btn btn-dark w-100">Agregar al Carrito</button>
                            <div class="d-flex justify-content-center mt-3">
                                <a href="#"><i class="fab fa-facebook fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-instagram fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-twitter fa-sm text-muted"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 03-->
<div class="modal fade" id="productModal3" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-3 border-0" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row pt-3 px-">
                    <div class="col-md-6">
                        <img src="~/Recursos/Img/Catalogo/006.jpg" alt="..." class="img-fluid mb-3">
                    </div>
                    <div class="col-md-6 pt-4">
                        <h5>MINI DRESS</h5>
                        <p>$310</p>
                        <p>El mini vestido de punto perfecto. Ni demasiado ancho ni demasiado estrecho. Fabricado con tres materiales diferentes y en casi todos los tamaños.</p>
                        <div>
                            <h6>Tallas:</h6>
                            <div id="size-buttons" class="d-flex gap-2">
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="XS">XS</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="S">S</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="M">M</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="L">L</button>
                            </div>
                        </div>
                        <div class="w-100 pt-3">
                            <h6>Color:</h6>
                            <div id="color-buttons" class="d-flex gap-2 mb-3">
                                <button type="button" class="btn color-btn border-0" style="background-color: orange; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;" data-color="Red"></button>
                            </div>
                        </div>
                        <div class="mt-3 w-100 pt-3">
                            <button type="button" class="btn btn-dark w-100">Agregar al Carrito</button>
                            <div class="d-flex justify-content-center mt-3">
                                <a href="#"><i class="fab fa-facebook fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-instagram fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-twitter fa-sm text-muted"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 04-->
<div class="modal fade" id="productModal4" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-3 border-0" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row pt-3 px-">
                    <div class="col-md-6">
                        <img src="~/Recursos/Img/Catalogo/004.jpg" alt="..." class="img-fluid mb-3">
                    </div>
                    <div class="col-md-6 pt-4">
                        <h5>MINI DRESS</h5>
                        <p>$310</p>
                        <p>El mini vestido de punto perfecto. Ni demasiado ancho ni demasiado estrecho. Fabricado con tres materiales diferentes y en casi todos los tamaños.</p>
                        <div>
                            <h6>Tallas:</h6>
                            <div id="size-buttons" class="d-flex gap-2">
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="XS">XS</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="S">S</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="M">M</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="L">L</button>
                            </div>
                        </div>
                        <div class="w-100 pt-3">
                            <h6>Color:</h6>
                            <div id="color-buttons" class="d-flex gap-2 mb-3">
                                <button type="button" class="btn color-btn border-0" style="background-color: black; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;" data-color="Red"></button>
                            </div>
                        </div>
                        <div class="mt-3 w-100 pt-3">
                            <button type="button" class="btn btn-dark w-100">Agregar al Carrito</button>
                            <div class="d-flex justify-content-center mt-3">
                                <a href="#"><i class="fab fa-facebook fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-instagram fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-twitter fa-sm text-muted"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 05-->
<div class="modal fade" id="productModal5" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-3 border-0" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row pt-3 px-">
                    <div class="col-md-6">
                        <img src="~/Recursos/Img/Catalogo/005.jpg" alt="..." class="img-fluid mb-3">
                    </div>
                    <div class="col-md-6 pt-4">
                        <h5>MINI DRESS</h5>
                        <p>$310</p>
                        <p>El mini vestido de punto perfecto. Ni demasiado ancho ni demasiado estrecho. Fabricado con tres materiales diferentes y en casi todos los tamaños.</p>
                        <div>
                            <h6>Tallas:</h6>
                            <div id="size-buttons" class="d-flex gap-2">
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="XS">XS</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="S">S</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="M">M</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="L">L</button>
                            </div>
                        </div>
                        <div class="w-100 pt-3">
                            <h6>Color:</h6>
                            <div id="color-buttons" class="d-flex gap-2 mb-3">
                                <button type="button" class="btn color-btn border-0" style="background-color: black; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;" data-color="Red"></button>
                            </div>
                        </div>
                        <div class="mt-3 w-100 pt-3">
                            <button type="button" class="btn btn-dark w-100">Agregar al Carrito</button>
                            <div class="d-flex justify-content-center mt-3">
                                <a href="#"><i class="fab fa-facebook fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-instagram fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-twitter fa-sm text-muted"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 06-->
<div class="modal fade" id="productModal6" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body position-relative">
                <button type="button" class="btn-close position-absolute top-0 end-0 p-3 border-0" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="row pt-3 px-">
                    <div class="col-md-6">
                        <img src="~/Recursos/Img/Catalogo/003.jpg" alt="..." class="img-fluid mb-3">
                    </div>
                    <div class="col-md-6 pt-4">
                        <h5>MINI DRESS</h5>
                        <p>$310</p>
                        <p>El mini vestido de punto perfecto. Ni demasiado ancho ni demasiado estrecho. Fabricado con tres materiales diferentes y en casi todos los tamaños.</p>
                        <div>
                            <h6>Tallas:</h6>
                            <div id="size-buttons" class="d-flex gap-2">
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="XS">XS</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="S">S</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="M">M</button>
                                <button type="button" class="btn btn-outline-dark size-btn" data-size="L">L</button>
                            </div>
                        </div>
                        <div class="w-100 pt-3">
                            <h6>Color:</h6>
                            <div id="color-buttons" class="d-flex gap-2 mb-3">
                                <button type="button" class="btn color-btn border-1" style="background-color: #FFFDF4; width: 40px; height: 40px; border-radius: 50%; cursor: pointer;" data-color="Red"></button>
                            </div>
                        </div>
                        <div class="mt-3 w-100 pt-3">
                            <button type="button" class="btn btn-dark w-100">Agregar al Carrito</button>
                            <div class="d-flex justify-content-center mt-3">
                                <a href="#"><i class="fab fa-facebook fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-instagram fa-sm me-3 text-muted"></i></a>
                                <a href="#"><i class="fab fa-twitter fa-sm text-muted"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--PUBLICIDAD 02-->
<div class="p-0 pt-5">
    <div class="card text-white border-0 position-relative">
        <img src="~/Recursos/Img/Publicidades/publicidad03.jpeg" style="width: 100%;" alt="...">
        <div class="position-absolute top-50 start-50 translate-middle text-center">
            <h1 style="font-size: 3vw;" class="pt-2">Line´s Collection</h1>
            <p class="lead pt-2" style="font-size: 1.5vw;">Cada prenda cuenta una historia de artesanía y creatividad, de líneas dibujadas y rediseñadas, de límites superados y redefinidos.</p>
            <button class="btn btn-outline-light" style="font-size: 1.5vw;">Leer más</button>
        </div>
    </div>
</div>


<!--NOTICIAS-->

<div class="container mt-5 pt-2 pb-5">

    <div class="row text-center pt-2">
        <div class="col-12">
            <h1>¡Mantente conectado!</h1>
            <p>Únete a nuestra comunidad.</p>
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/Recursos/Img/Noticias/Noticia01.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title"><i class="fas fa-heart" style="color: #cb0b3b;"></i> 382 likes</p>
                    <p class="card-text"> <span class="highlight" style="font-weight: bold">Some</span>  quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/Recursos/Img/Noticias/Noticia02.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title"><i class="fas fa-heart" style="color: #cb0b3b;"></i> 159 likes</p>
                    <p class="card-text"> <span class="highlight" style="font-weight: bold">Some</span>  quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/Recursos/Img/Noticias/Noticia03.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title"><i class="fas fa-heart" style="color: #cb0b3b;"></i> 204 likes</p>
                    <p class="card-text"> <span class="highlight" style="font-weight: bold">Some</span>  quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card border-0">
                <img src="~/Recursos/Img/Noticias/Noticia04.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title"><i class="fas fa-heart" style="color: #cb0b3b;"></i> 526 likes</p>
                    <p class="card-text"> <span class="highlight" style="font-weight: bold">Some</span> quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<br />

<!--.............................................................................................-->
@*<div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <h2 id="librariesTitle">Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <h2 id="hostingTitle">Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
            </section>
        </div>
    </main>*@

